@charset "utf-8";
@import url("general.css");

/**************************
            STYLES GENERAUX
**************************/
footer{
    background-color: var(--neutral-base-color);
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

footer *{
    color: var(--neutral-base-color-lighter);
}



/**************************
            STYLES COORDONNEES
**************************/
#coordonnees{
    grid-column: 1/4;
    grid-row: 1/4;
}

#coordonnees img{
    vertical-align: middle;
    margin: 5px 10px;
}



/**************************
            STYLES RESEAUX
**************************/
#reseaux{
    grid-column: 4/5;
    grid-row: 1/5;
}

#reseaux img{
    width: 64px;
    background-color: var(--neutral-base-color-lighter);
    border: 1px solid var(--neutral-base-color-lighter);
    border-radius: 20px;
}



/**************************
            STYLES COPYRIGHT
**************************/
#copyright{
    grid-column: 2/4;
    grid-row: 4/5;
}

#copyright h2{
    text-align: center;
}



/**************************
            STYLES LANGUE
**************************/



