@charset "utf-8";

/**************************
            STYLES GENERAUX
**************************/
footer{
    background-color: var(--neutral-base-color);
    padding: 10px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    flex: 1 1 20%;
    max-height: 100%;
}

footer *{
    color: var(--neutral-base-color-lighter);
}



/**************************
            STYLES COORDONNEES
**************************/
#coordonnees{
    grid-column: 1/4;
    grid-row: 1/4;
}

#coordonnees img{
    vertical-align: middle;
    margin: 5px 10px;
}



/**************************
            STYLES RESEAUX
**************************/
#reseaux{
    grid-column: 4/5;
    grid-row: 1/5;
}

#reseaux img{
    width: 64px;
    background-color: var(--neutral-base-color-lighter);
    border: 1px solid var(--neutral-base-color-lighter);
    border-radius: 20px;
}



/**************************
            STYLES COPYRIGHT
**************************/
#copyright{
    grid-column: 2/4;
    grid-row: 4/5;
}

#copyright h2{
    text-align: center;
}



/**************************
            STYLES LANGUE
**************************/
#langue{
    grid-column: 2/4;
    grid-row: 5/6;

    background-color: var(--neutral-base-color-lighter);
    width: 100%;
    height: 100%;
    border-radius: 25px;

    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#langue::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: var(--accent-color-light);
    opacity: .5;
    transition: left .25s ease;
}

#cc-langue:checked ~ #langue::before{
    left: 50%;
}

#langue > h2{
    color: var(--neutral-base-color);
    z-index: 1;
}



