@charset "utf-8";

/**************************
            STYLES GENERAUX
**************************/
header{
    flex: 1 1 10%;

    background-color: #880D1E80;
    color: var(--neutral-base-color);

    display: flex;
    justify-content: space-between;
}

header span.material-symbols-outlined{
    font-size: 48px;
    font-weight: bold;
}

header img{
    width: 64px;
    aspect-ratio: 808/980;

    align-self: flex-start;
}



/**************************
            STYLES GENERAUX
**************************/



/**************************
            STYLES GENERAUX
**************************/



/**************************
            STYLES GENERAUX
**************************/



/**************************
            STYLES GENERAUX
**************************/



/**************************
            STYLES GENERAUX
**************************/




