@charset "utf-8";

/**************************
            STYLES GENERAUX
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jours .datepicker-item, .timepicker-item{
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#jours .datepicker-item:hover, .timepicker-item:hover{
    cursor: pointer;
    color: white;
}

form, div#navigation-form{
    max-width: 95vw;
    margin: auto;
}

iframe, header, footer{
    min-height: 20vh;
    width: 100vw;
    overflow: hidden;
}



/**************************
            STYLES HEADER
**************************/
/* voir styles css pour header */
@import url("header.css");



/**************************
            STYLES MAIN
**************************/
/* general */
main{
    max-height: 100vh;
    margin: 1vh 0;
}

form{
    background-color: var(--neutral-base-color);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    max-height: 80vh;
}

fieldset{
    border: none;
}

fieldset h2{
    color: var(--primary-color);
    margin-bottom: 10px;
}

fieldset label{
    color: var(--accent-color-light);
}

fieldset > div{
    margin-bottom: 20px;
}

input, select{
    border-radius: 5px;
    padding: 2px 5px;
}

/* fieldset#form-date-day */
#form-date-day > p{
    color: var(--neutral-base-color-lighter);
    font-size: 1.25rem;
}

#datepicker{
    flex: 3 1 75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

#jours-semaine{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px;
}

.datepicker-item{
    background-color: red;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.125rem;
    text-align: center;
    user-select: none;
}

#jours{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    row-gap: 10px;
    margin-bottom: 10px;
}

#jours .datepicker-item{
    background-color: lightblue;
}
#jours .datepicker-item:hover{
    background-color: darkblue;
}

/* fieldset#form-date-hour */
#timepicker{
    flex: 1 1 25%;
    display: flex;
    /* flex-direction: column; */
    flex-flow: column wrap;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* column-gap: 50px; */
    row-gap: 10px;

    padding: 10px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
}

.timepicker-item{
    background-color: gold;
    /* width: 100%; */
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 40%;
    flex: 1 0 20%;
    padding: 4px;
}
.timepicker-item:hover{
    background-color: brown;
}

/* navigation form */
#navigation-form{
    display: flex;
    justify-content: center;
    gap: 25px;

    background-color: var(--neutral-base-color);
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

#navigation-form button{
    font-size: 1.25rem;
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    transition: background-color .25s ease;
}

#navigation-form button:last-child{
    color: var(--neutral-base-color-lighter);
    background-color: var(--accent-color);
}
#navigation-form button:last-child:hover{
    background-color: var(--accent-color-dark);
}



/**************************
            STYLES FOOTER
**************************/
/* voir styles css pour footer */
@import url("footer.css");



/**************************
            STYLES BARRE PROGRESSION
**************************/
#barre-progression{
    width: 100vw;
    height: 10px;
    background-color: var(--neutral-base-color);
    position: fixed;
    top: 0;
}

#barre-progression > div{
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transition: width .5s ease;
}




