@charset "uft-8";
@import url("themes.css");

/**************************
            STYLES GENERAUX
**************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jours .datepicker-item, .timepicker-item{
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#jours .datepicker-item:hover, .timepicker-item:hover{
    cursor: pointer;
    color: white;
}

fieldset, div#navigation-form{
    max-width: 95vw;
    margin: auto;
}

iframe{
    height: 20vh;
}

.none{
    display: none;
}



/**************************
            STYLES HEADER
**************************/



/**************************
            STYLES MAIN
**************************/
/* general */
/* main{
    height: 100vh;
} */

fieldset{
    background-color: var(--neutral-base-color);
    border: none;
    border-radius: 20px 20px 0 0;
}

fieldset h2{
    color: var(--primary-color);
}

fieldset label{
    color: var(--accent-color-light);
}

fieldset > div{
    margin-bottom: 20px;
}

input, select{
    border-radius: 5px;
    padding: 2px 5px;
}

/* fieldset#form-date-day */
#datepicker-container{
    display: flex;
}

#datepicker{
    flex: 3 1 75%;
    border: 1px solid black;
    border-radius: 10px;
}

#jours-semaine{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.datepicker-item{
    background-color: red;
    /* width: 50px;
    height: 50px;
    padding: 10px; */
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.125rem;
    text-align: center;
    user-select: none;
}

#jours{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    row-gap: 10px;
}

#jours .datepicker-item{
    background-color: lightblue;
}
#jours .datepicker-item:hover{
    background-color: darkblue;
}

/* fieldset#form-date-hour */
#timepicker{
    flex: 1 1 25%;
    display: flex;
    /* flex-direction: column; */
    /* flex-flow: column wrap; */
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 10px;

    padding: 10px;
    /* height: 100px; */
    border: 1px solid black;
    border-radius: 10px;
    /* overflow-y: scroll; */
}

.timepicker-item{
    background-color: gold;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.timepicker-item:hover{
    background-color: brown;
}

/* navigation form */
#navigation-form{
    display: flex;
    justify-content: center;
    gap: 25px;

    background-color: var(--neutral-base-color);
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

#navigation-form button{
    font-size: 1.25rem;
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
}



/**************************
            STYLES FOOTER
**************************/


