

#jours-semaine{
    display: flex;
}

#jours{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.datepicker-item{
    background-color: red;
    /* width: 50px;
    height: 50px;
    padding: 10px; */
    width: 50px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 1.75rem;
    text-align: center;
}

#timepicker{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
}

.timepicker-item{
    background-color: gold;
    width: 200px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
