@charset "utf-8";

/**************************
            STYLES GENERAUX
**************************/
html, body{
    /* overflow-x: hidden; */
}

body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

body, p, a{
    color: var(--neutral-base-color-lighter);
}

#jours .datepicker-item, .timepicker-item{
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#jours .datepicker-item:hover, .timepicker-item:hover, .selected{
    cursor: pointer;
    color: white;
}

form, div#navigation-form{
    max-width: 95vw;
    margin: auto;
}

header, footer{
    width: 100vw;
}



/**************************
            STYLES HEADER
**************************/
/* voir autres styles css pour header */
@import url("styles-header.css");

/* override styles */
header{
    position: static;
}

header nav h1{
    font-size: 1.25rem;
}

header nav .menuBurger .background{
    width: 320px;
}



/**************************
            STYLES BARRE PROGRESSION
**************************/
#barre-progression{
    width: 100vw;
    height: 5px;
    background-color: var(--neutral-base-color);
    position: sticky;
    top: 0;
    z-index: 999;
}

#barre-progression > div{
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transition: width .5s ease;
}



/**************************
            STYLES MAIN
**************************/
/* general */
main{
    max-height: 100vh;
    flex: 0 1 70%;
    margin: 1vh 0;

    background-color: transparent;
}

form{
    background-color: var(--neutral-base-color);
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    color: var(--neutral-base-color);
}

fieldset{
    border: none;
    margin-top: 20px;
}

fieldset h2{
    color: var(--primary-color);
    margin-bottom: 10px;
}

fieldset label{
    color: var(--accent-color-light);
}

fieldset > div{
    margin-bottom: 20px;
}

input, select{
    border-radius: 5px;
    padding: 2px 5px;
}

/* fieldset#form-date-day */
#form-date-day > p{
    color: var(--neutral-base-color-lighter);
    font-size: 1.5rem;
    text-align: center;
}

#datepicker{
    flex: 3 1 75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

#jours-semaine{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px;
}

.datepicker-item{
    background-color: red;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.125rem;
    text-align: center;
    user-select: none;
}

#jours{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    row-gap: 10px;
    margin-bottom: 10px;
}

#jours .datepicker-item{
    background-color: lightblue;
}
#jours .datepicker-item:hover, #jours .datepicker-item.selected{
    background-color: darkblue;
}

/* fieldset#form-date-hour */
#timepicker{
    flex: 1 1 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    padding: 10px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
}

.timepicker-item{
    background-color: gold;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 40%;
    flex: 1 0 20%;
    padding: 4px;
}
.timepicker-item:hover, .timepicker-item.selected{
    background-color: brown;
}

/* fieldset#form-end */
#form-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;

    text-align: center;
}

#form-end span{
    font-size: 128px;
    margin-top: 20px;

    color: var(--accent-color-light);
    filter: brightness(200%);
}

/* navigation form */
#navigation-form{
    display: flex;
    justify-content: center;
    gap: 25px;

    background-color: var(--neutral-base-color);
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

#navigation-form button{
    font-size: 1.25rem;
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    transition: all .25s ease;
    cursor: pointer;
}
#navigation-form button:disabled{
    cursor: default;
}

#navigation-form button:last-child{
    color: var(--neutral-base-color-lighter);
    background-color: var(--accent-color);
}
#navigation-form button:last-child:hover{
    color: var(--neutral-base-color);
    background-color: var(--accent-color-light);
}
#navigation-form button:last-child:disabled{
    color: var(--neutral-base-color-lighter);
    background-color: var(--accent-color-dark);
}



/**************************
            STYLES FOOTER
**************************/
/* voir styles css pour footer */
@import url("footer.css");





/* =============== STYLES ORDINATEUR ================ */
@media screen and (min-width: 992px) {
    main{
        flex: 1 0 70%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form, div#navigation-form{
        min-width: 35vw;
        margin: 0;
    }
}
