header {
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(136, 13, 30, 0.5)) rgba(255, 255, 255, 0.5);
  z-index: 3;
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .textes {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

header nav h1 {
  margin-left: 64px;
}

header nav div.menuBurger {
  background: none;
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10px;

}

header nav .barre1, .barre2, .barre3, .barre4 {
  position: relative;
}

header nav .barre2, header nav .barre3 {
  transition: 0.2s;
  position: absolute;
}

Header nav .barre2.actif {
  rotate: 45deg;  
} 

header nav .boutonX {
  position: relative;
  height: fit-content;
}

header nav .barre3.actif {
  rotate: -45deg;
}

header nav a {
  display: none;
  transition: 0.2s;
}

header nav a.actif {
  display: flex;
}

header nav h1 {
  color: #880d1e;
  font-size: 48px;
}

header nav img {
  width: 128px;
  height: auto;
  aspect-ratio: 128/153;
  mix-blend-mode: overlay;
  filter: blur(2px);
}

/* section des boutons toggle pour afficher les artistes de tattoo et de piercings */
header .menuToggle {
  display: grid;
  overflow: hidden;
  justify-content: center;
  grid-template-columns: 3.8vw 46.2vw 7.6vw 46.2vw 3.9vw;
  grid-template-rows: 1fr;
}

header .toggle {
  display: grid;
  position: relative;
  height: fit-content;
}

header .toggle h1 {
  font-size: 24pt;
  position: absolute;
  justify-self: center;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  color: var(--primary-color);
}

/*arriere des boutons toggle */
header .backgroundToggle {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  height: auto;
}
/* posiition du bouton des tattoueurs */
header .toggleTattoo {
  grid-column: 1 / 4;
  grid-row-start: 1;
}
/* position du bouton des perceurs */
header .togglePiercing {
  grid-column: 3 / 6;
  grid-row-start: 1;
}

header .menuToggle .transition {
  position: absolute;
  bottom: -48px;
  width: 100vw;
  min-height: 50px;
  background: linear-gradient(
    180deg,
    #3d2d33 27.4%,
    rgba(61, 45, 51, 0.5) 67.31%,
    rgba(61, 45, 51, 0) 100%
  );
}
