/* fonts */
.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

/* styles globaux du header */
header {
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(136, 13, 30, 0.5)) rgba(255, 255, 255, 0.5);
  z-index: 3;
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* styles du nav */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styles de la classe textes du header */
header nav .textes {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

/* correction positionnement du texte */
header nav h1 {
  margin-left: 64px;
}

/* styles du menu burger */
header nav div.menuBurger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10px;
  z-index: 10;
}

/* styles du background du menu burger */
header nav .menuBurger .background {
  position: absolute;
  left: -12px;
  transition: 0.2s;
  translate: 0 -600px;
}

/* état du background lorsque le menu est ouvert */
header nav .menuBurger .background.actif {
  translate: 0;
}

/* positionnement des barres du menu */
header nav .barre1, .barre2, .barre3, .barre4 {
  position: relative;
}

header nav .barre1, .barre4 {
  width: 100%;
  height: 4px;
}

/* animations du X */
header nav .barre2, header nav .barre3 {
  transition: 0.2s;
  position: absolute;
}


/* positionnement du bouton X */
header nav .boutonX {
  position: relative;
  height: 4px;
}

/* le style permettant l'animation du x du menu */
Header nav .barre2.actif {
  rotate: 45deg;  
} 

/* le style permettant l'animation du x du menu */
header nav .barre3.actif {
  rotate: -45deg;
}

/* le style des liens vers les autres pages */
header nav a {
  display: none;
  transition: 0.2s;
  font-family: "Libre Caslon Text", serif;
  font-size: 36px;
  font-weight: bold;
  text-decoration-line: none;
  color: var(--base-color-dark);
  position: relative;
  top: 10px;
}

/* le style des liens vers autres pages lorsque le menu est ouvert */
header nav a.actif {
  display: flex;
}

/* style spécifique à la page sélectionnée */
header nav a.selection {
  color: #880d1e;
}

/* le texte de titre dans le header */
header nav h1 {
  color: #880d1e;
  font-size: 48px;
}

/* le logo dans le header */
header nav img {
  width: 128px;
  height: auto;
  aspect-ratio: 128/153;
  mix-blend-mode: overlay;
  filter: blur(2px);
}

/* section des boutons toggle pour afficher les artistes de tattoo et de piercings */
header .menuToggle {
  display: grid;
  overflow: hidden;
  justify-content: center;
  grid-template-columns: 3.8vw 46.2vw 7.6vw 46.2vw 3.9vw;
  grid-template-rows: 1fr;
}

/* le bouton toggle */
header .toggle {
  display: grid;
  position: relative;
  height: fit-content;
}

/* le texte des boutons toggle */
header .toggle h1 {
  font-size: 24pt;
  position: absolute;
  justify-self: center;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  color: var(--primary-color);
  pointer-events: none;
}

/* correctif pour l'interactivité */
header .toggle svg {
  pointer-events: none;
}

/* correctif pour l'interactivité */

header .toggle path {
  pointer-events: none;
}

/*arriere des boutons toggle */
header .backgroundToggle {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 100%;
  height: auto;
  fill: var(--base-color-dark);
}
/* posiition du bouton des tattoueurs */
header .toggleTattoo {
  grid-column: 1 / 4;
  grid-row-start: 1;
}
/* position du bouton des perceurs */
header .togglePiercing {
  grid-column: 3 / 6;
  grid-row-start: 1;
}

header .menuToggle .transition {
  position: absolute;
  bottom: -48px;
  width: 100vw;
  min-height: 50px;
  background: linear-gradient(
    180deg,
    #3d2d33 27.4%,
    rgba(61, 45, 51, 0.5) 67.31%,
    rgba(61, 45, 51, 0) 100%
  );
}



/* =============== STYLES TABLETTE ================ */
@media (min-width:576px) and (max-width:991px) 
{
  /* modification de l'affichage pour que les toggle apparaissent a gauche */
  header .menuToggle {
  display: flex;
  overflow: hidden;
  justify-content: left;
}



}

/* =============== STYLES ORDINATEUR ================ */
@media (min-width:992px) {
  /* modification de l'affichage pour que les toggle apparaissent a gauche */
  header .menuToggle {
  display: flex;
  overflow: hidden;
  justify-content: left;
}

header nav .barre2, header nav .barre3 {
  display: none;
}

header nav h1 {
  display: none;
}

header nav a  {
  display: flex;
  flex-wrap: nowrap;
}

header nav div.menuBurger {
  flex-direction: row;
  flex-wrap: nowrap;
}

header nav .barre1 {
  position: absolute;
  top: 0;
}

header nav .barre4 {
  position: absolute;
  bottom: -20px;
}
}