:root{
    --neutral-base-color: #3D2D33;
    --neutral-base-color-light: #948289;
    --neutral-base-color-lighter: #DAD0D4;

    --primary-color: #FFC861;
    --primary-color-light: #FFE7BC;
    --primary-color-dark: #A76C00;

    --accent-color: #BC001F;
    --accent-color-light: #FF6B83;
    --accent-color-dark: #830016;
}